.navbar-header {
    width: 100%;
    position: absolute;
    z-index: 10;

    .nav-container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 6rem;

        padding-right: 6rem;

        padding-top: 4rem;

        padding-bottom: 4rem;


        @media (min-width: 640px) {
            padding-left: 1rem;

            padding-right: 1rem;

        }

        .link {
            display: flex;
            justify-content: center;
            align-items: center;

            .image-navbar {
                object-fit: contain;
            }
        }

        .navbar-button {
            color: blue;
            /* Replace 'blue' with your desired color value */
            border-radius: 9999px;
            border: none;
            /* Use a large value for rounded appearance */
            background-color: white;
            min-width: 130px;
            padding: 0.5rem 1rem;
            /* Adjust padding as needed */
            display: inline-block;
        }

    }
}