.home-main_container {
    overflow: hidden;
}

.home-main_container .wrapper {
    margin-top: 3rem;
    padding: 1rem;
    max-width: 100%;
}

.home-main_container .home__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px; /* Equivalent to '0.625rem' */
    color: rgba(0, 0, 0, 0.1);
}

.home-main_container .home__text-container .heading1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: black;
}

.home-main_container .home__text-container .p {
    color: black;
}

.home-main_container .home_filters {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; /* Equivalent to '1.25rem' */

}

.home-main_container .home_filters .home__filter-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px; /* Equivalent to '0.5rem' */
}
